@import './variables.scss';

/*body*/
body {
  font-size: $font-size-b1;
  line-height: $line-height-b1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  color: $color-body;
  font-weight: $p-regular;
  position: relative;
  background: $background-color-2;
}
/*header*/

