.main .slick-dots {
  width: auto;
  margin: 0;
  z-index: 2;
  align-items: center;
  display: flex !important;
  justify-content: center;
  list-style: none;
  box-sizing: border-box;
}

.main .select {
  width: auto;
  padding-left: 20px;
  padding-right: 40px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
